@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: black;
    background-size: cover;
    background-position: center;
}
.container{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 11px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(50px);
}
.container h1{
    font-size: 36px;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: white;
    padding: 21px 46px 21px 21px;
    border-radius: 40px;
}
.input-box input::placeholder{
    color: #c5c5c5;
}
.input-box i{
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform:translateY(-50%);

}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 5px;
}
.remember-forgot a{
    text-decoration: none;
    color: white;
       
}
.remember-forgot a:hover{
    text-decoration: underline;

}
button{
    width: 100%;
    height: 50px;
    background-color: rgb(204, 0, 255);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 17px;
    color: #ffffff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 20px;
    border-radius: 40px;
    transform: scale(0.97);
    outline: none;
    box-shadow: 0 0 0 10px rgba(199, 2, 248, 0.4);
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}
button:hover{
    background-color: transparent;
    border: 2px solid;
    border: 2px solid rgba(255, 255, 255, .2);
    color:  rgb(204, 0, 255);
    transition: 0.3s ease;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgb(204, 0, 255);
}
.register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.register-link a:hover{
    text-decoration: underline;
    transition: 0.5s;
    transform: translateY(-16px) scale(1.06);
}
h2{
    text-align: center;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
}

.header h1 {
  color: rgb(234, 0, 255);
  font-size: 32px;
}

.header nav a {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.4s ease;
  transform: 0.4s ease;
  color: 0.3s ease;

}

.header nav a:hover {
  text-decoration: underline;
  color: rgb(255, 153, 0);
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.5s ease;
  transform: translateY(-5px) scale(1.05);
  text-decoration: underline;
}